local colors = {
  black        = '#{{base00-hex}}',
  white        = '#{{base05-hex}}',
  red          = '#{{base08-hex}}',
  green        = '#{{base0B-hex}}',
  blue         = '#{{base0D-hex}}',
  yellow       = '#{{base0A-hex}}',
  gray         = '#{{base06-hex}}',
  darkgray     = '#{{base01-hex}}',
  lightgray    = '#{{base02-hex}}',
  inactivegray = '#{{base05-hex}}',
}
